/* Chatbot.css */

.chatbot-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.message-display {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message-user {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.message-bot {
    align-self: flex-start;
    background-color: #e1e1e1;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.message-content-user,
.message-content-bot {
    display: inline-block;
}

.chatbot-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: calc(100% - 60px); /* Adjusted to fit within container */
    box-sizing: border-box;
    margin: 10px;
}

.send-button {
    padding: 8px 15px;
    margin: 0 10rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 100;
}

.chatbot-container .chatbot-input,
.chatbot-container .send-button {
    display: inline-block;
    vertical-align: middle;
}

.chatbot-container .chatbot-input:focus {
    outline: none;
}
